# Environments
.env
.venv/

# IDE
.vscode/
**/.DS_Store

# Python
__pycache__/
**/__pycache__/

# Output and logs
outputs/
logs/
output.md
.results/

# Old files and tests
.old_files/
.testcode/
old_files/

# Assets
assets/Multi Agent Marketing Demo.mp4

# Frontend
frontend/node_modules/

# LangChain cache
.langchain.db
